body {
  background-color: lightpink;
}
.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.count {
  margin-bottom: 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
}

.count {
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.buttons button {
  width: 10rem;
  height: 10rem;
  margin: 0 2rem;
  font-size: 5em;
  cursor: pointer;
}

button {
  border: 2px solid black;
  border-radius: 20px;
  padding: 0;
}
.app .buttons button:hover {
  font-size: 7em;
}

.app .buttons button:focus {
  outline: 0;
}
